.container {
    display: flex;
    align-items: center;
}

.form-container {
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #e4e8e3;
}

.form-group {
      text-align: left;
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
    color: #2b8c0b;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #f8fbf7;
  }
  .heading{
    margin-top: 40px;
    color: #2b8c0b;
  }