#root {
  margin: 0 auto;
  text-align: center;
}

body{
	background-color: var(--light);
}

:root {
	--green: #45AC34;
	--black: #000000;
	--light: #F9F8FC;
	--white: #FFFFFF;
	--grey: rgba(138, 138, 143, 1);
}